.button {
    height: auto;
    width: 100px;
    background-color: black;
    color: wheat;
    padding: 2px;
    border: 2px solid yellow;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.4s;
    margin-top: 10px;
}

.button:hover {
    background-color: gray;
    color: black;
    border: 2px solid black;
}